<div class="music-container">

    <div class="text-center mb-4 title-primary">
      <img src="/assets/images/logos/clubRugby/logo_rugby_dinan.png" alt="Logo rugby Dinan" class="logo">
      <h1 class="display-4" style="color: #dd0419;">
        <i class="bi bi-music-note-beamed me-2"></i> Music Gallery - Stade de la Nourais
      </h1>
      <p class="lead text-muted">
        Bienvenue sur cette page dédiée aux diverses musiques générées par IA pour le Dinan Rugby!
      </p>
    </div>  
    <div class="iframe-wrapper" [@fadeIn]>
      <iframe 
        src="https://suno.com/embed/11035896-9150-43bb-bc93-e65b6d551de9" 
        width="100%" 
        height="240" 
        class="music-iframe"
        title="Suno Music Track"
        frameborder="0"
        allow="clipboard-write">
        <a href="https://suno.com/song/11035896-9150-43bb-bc93-e65b6d551de9">Listen on Suno</a>
      </iframe>
      <iframe 
        src="https://suno.com/embed/cb77cb2b-3a05-4639-bb8a-46df31fbf6e3" 
        width="100%" 
        height="240" 
        class="music-iframe"
        title="Suno Music Track"
        frameborder="0"
        allow="clipboard-write">
        <a href="https://suno.com/song/cb77cb2b-3a05-4639-bb8a-46df31fbf6e3">Listen on Suno</a>
      </iframe>
      <iframe 
        src="https://suno.com/embed/4cf1d9e5-87fe-4581-a7ce-4e25b003d3dd" 
        width="100%" 
        height="240" 
        class="music-iframe"
        title="Suno Music Track"
        frameborder="0"
        allow="clipboard-write">
        <a href="https://suno.com/song/4cf1d9e5-87fe-4581-a7ce-4e25b003d3dd">Listen on Suno</a>
      </iframe>
      <iframe 
        src="https://suno.com/embed/5a129dd8-95c1-4518-bb49-584311173dd5" 
        width="100%" 
        height="240" 
        class="music-iframe"
        title="Suno Music Track"
        frameborder="0"
        allow="clipboard-write">
        <a href="https://suno.com/song/5a129dd8-95c1-4518-bb49-584311173dd5">Listen on Suno</a>
      </iframe>
      <iframe 
        src="https://suno.com/embed/aa18a2aa-2a2f-4885-9422-26f1a3feaf51" 
        width="100%" 
        height="240" 
        class="music-iframe"
        title="Suno Music Track"
        frameborder="0"
        allow="clipboard-write">
        <a href="https://suno.com/song/aa18a2aa-2a2f-4885-9422-26f1a3feaf51">Listen on Suno</a>
      </iframe>
    </div>
  </div>