<div class="container py-5">
  <div class="row align-items-center">
    <div class="col-md-5 text-center mb-4 mb-md-0">
      <img src="/assets/images/metana/logo_metana.png" alt="Logo Metana FR" class="img-fluid rounded " />
    </div>
    <div class="col-md-7">
      <h1 class="display-4">Bienvenue sur Metana FR</h1>
      <p class="lead">
        Metana FR est la plateforme qui héberge votre application et vos projets digitaux.
        Destinée aux créateurs numériques et aux organisateurs d’événements, Metana FR est
        le carrefour où créativité et technologie se rencontrent.
      </p>
      <p>
        Que vous soyez développeur, designer, artiste numérique ou organisateur d'évènements,
        cette plateforme vous offre les outils pour donner vie à vos idées et les partager avec le monde.
      </p>
      <p>
        Notre ambition : favoriser la collaboration, l’innovation et la visibilité dans un environnement élégant, moderne et accessible.
      </p>

      <h3>Guillaume JEGO</h3>
    </div>
  </div>

  <div *ngIf="authService.isAuthenticated(); else notLoggedIn">
    <p>Bienvenue, {{ authService.getUserRole() }} !</p>
    <div *ngIf="authService.getUserRole() === 'admin'">
      <button>Action réservée aux admins</button>
    </div>
  </div>
  <ng-template #notLoggedIn>
    <p>.</p>
  </ng-template>

  <hr class="my-5" />

  <div class="row text-center">
    <div class="col-md-4 mb-4">
      <div class="p-4 rounded shadow">
        <h3>Création digitale</h3>
        <p>Applications web, sites vitrines, contenus interactifs, et plus encore…</p>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="p-4 rounded shadow">
        <h3>Événementiel</h3>
        <p>Gestion d'événements, communication visuelle, scénographies numériques.</p>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="p-4 rounded shadow">
        <h3>Communauté</h3>
        <p>Un espace pour échanger, apprendre et innover ensemble.</p>
      </div>
    </div>
  </div>
</div>
