@use '../../../styles.scss' as *; // Utilisez le chemin relatif vers style.scss


// Accent colors classes
.text-accent {
    color: $color_text_03;
  }
  
  .text-primary-custom {
    color: $color_text_02;
  }
  
  .btn-custom {
    background-color: $color_action_possible;
    border: 2px solid $color_border_02;
    color: $color_text_01;
    font-weight: bold;
    transition: all 0.3s ease;
  
    &:hover {
      background-color: $color_text_03;
      color: white;
    }
  }
  
  .card-custom {
    background-color: $color_background_02;
    color: $color_text_03;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  
    &:hover {
      transform: translateY(-5px);
    }
  
    p {
      color: $color_level-04;
    }
  }
  
  // Animations
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
  }
  
  .fade-in-delay {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeIn 1.5s 0.5s forwards;
  }
  
  .zoom-in {
    animation: zoomIn 1.2s ease forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes zoomIn {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  