# Forcer HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]

# Redirection de metana.fr vers www.metana.fr
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTP_HOST} ^metana\.fr [NC]
RewriteRule ^(.*)$ https://www.metana.fr/$1 [L,R=301]

# Exclure le dossier /api des redirections
RewriteCond %{REQUEST_URI} ^/api/ [NC]
RewriteRule ^ - [L]

# Redirection des requêtes vers index.html pour Angular (sauf fichiers/dossiers existants)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L,QSA]