//Base graphique core Metana
$color_level-01 : #010306;
$color_level-02 : #92a6b2;
$color_level-03 : #0b2031;
$color_level-04 : #f1f5f6;
$color_level-05 : #1ebde8;
$color_level-06 : #075886;
$color_level-07 : #506370;
$color_level-08 : #031420;