//Base graphique squelette Metana
$color_level-01 : #010306; //
$color_level-02 : #92a6b2; //
$color_level-03 : #0b2031; //
$color_level-04 : #f1f5f6; //font de page
$color_level-05 : #1ebde8; //fond bouton, validate bouton normal
$color_level-06 : #075886; //
$color_level-07 : #506370; //Border / logo menu / validate bouton strong 
$color_level-08 : #031420; //
$color_level-09 : #F746EA; //Edit Admin / entraineurs
$color_level-10 : #FC8B8B; //Annuler buton